body {
    /* background-color: #fffdfd; */
    text-align: center;
    
}

.navbar {
    background-color: rgb(229, 231, 102);
    /* rgb(254, 199, 72); */
    color: rgb(37, 63, 88); 
}

.nav-link .navbar-brand .nav-item a{ 
    color: rgb(37, 63, 88); 
    Text-Decoration: None
}

.jumbotron {
    height: 300px;
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    background-image: url(./images/assorted-sliced-fruits.jpg);
}

.card-body {
    color: rgb(37, 63, 88); 
}

.carousel-item {background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
}
